@charset "UTF-8";

body{
    background: #fff;
}

body, input, button{
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 100%;
}

.menu{
  float: left;
  width: 100%;
  height:40px;
  color: #c4c4c4;
  background-image: url("http://www.bootstraptoggle.com/doc/header.png");
}

.menu .logo{
  margin-top: 5px;
  margin-left: 10px;
  text-align: left;
}

.menu .logo .headerLogo{
  font-size: 20pt;
  font-weight: bold;
  color: #fff;
  vertical-align: top;
}

.menu svg{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.menu .menuContainer{
  padding-top: 15px;
}

.menu .subHeader{
  font-size: 10pt;
  font-weight: bold;
}

.main{
  width: 100%;
  background-color: #fff;
}

.main input{
  width: 100%;
  height: 50px;
  text-indent: 15px;
  font-size: 20px;
  border: none;

  -webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.2);

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.main input::placeholder{
  color: rgba(150, 150, 150, .8);
}
